@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

/* -----------------
  homepage-section-
-------------------- */
#main-homepage-section-1{
    background-color: #2d25a0;
    
    align-items: center;
    display: flex;
   
}
.homepage{
    display: flex;
    height: 660px;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    
}
.homepage-left{
    width:45%;
    margin-right: 5%;
    
  
}
.homepage-left h1{
    font-size: 64px;
    color: white; 
    margin-top: 0%;
    margin-bottom:25px;
    font-weight: 700;
}
.button{
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #E02C6D;
    color: white;
    border: none;
}
.button i{
    width: 24px;
    height: 24px;
}
.homepage-right{
    width:45%;
    margin-left: 5%;  
}
.homepage-right img{
    width: 560px;
    height: 485px;
    float: left;

}
/* ------------------
   player-details
--------------------*/
#player-details{
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 100px;
    
}
.team{
    margin-left: 180px;
    margin-right: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    width:330px;
    padding: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.19);
    
}
.player img{
    width:100%;
    height:256px;
}
.player-info h2{
    font-size: 28px;
    color: #18191F;
}
.player-info p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

/* ------------------
  copa-2021 match 
--------------------*/
#copa-2021{
    margin-top: 60px;
    margin-bottom: 100px;
}
.copa-america{
    margin: 0px 156px 0px 180px;
    height: 430px;
    display: flex;
    align-items: center;
}
.copa-america-history{
    width: 42%;
    padding-right: 8%;

}
.copa-america-history h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -10px;
}
.copa-america-history p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400px;
    padding-right:100px ;
}

.copa-america-img{
    width:50%;
    
}
.copa-america-img img{
    width: 100%;
    height: 100%;
}